[Unit]
Description=API Rest para la ucacoin
After=syslog.target network.target

[Service]
# En remoto
WorkingDirectory=/root/ucacoin/api/ucacoin_api_server
ExecStart=/root/ucacoin/api/ucacoin_api_server/venv/bin/python3.8 main.py

# En local
#WorkingDirectory=/home/abraham/PycharmProjects/ucacoin_api_server
#ExecStart=/home/abraham/PycharmProjects/ucacoin_api_server/venv/bin/python3.8 main.py

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
